@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";
@plugin './hero.ts';

@font-face {
  font-family: thronesdb;
  src: url(https://agot-playtesting.s3.us-west-1.amazonaws.com/fonts/thronesdb.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: hsl(var(--heroui-default-background) / 1);
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

.container {
  flex-grow: 1;
  padding: 1em;
  height: 100%;
  background-color: hsl(var(--heroui-content1) / 0.5);
}