@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: thronesdb;
  src: url(https://agot-playtesting.s3.us-west-1.amazonaws.com/fonts/thronesdb.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'thronesdb';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon- {
  &baratheon:before {
    content: "\e600";
  }
  &greyjoy:before {
    content: "\e601";
  }
  &lannister:before {
    content: "\e603";
  }
  &martell:before {
    content: "\e604";
  }
  &thenightswatch:before {
    content: "\e606";
  }
  &stark:before {
    content: "\e608";
  }
  &targaryen:before {
    content: "\e609";
  }
  &tyrell:before {
    content: "\e60a";
  }
  &neutral:before {
    content: "\e612";
  }
  &military:before {
    content: "\e605";
  }
  &intrigue:before {
    content: "\e602";
  }
  &power:before {
    content: "\e607";
  }
  &unique:before {
    content: "\e60b";
    padding-right: 0.25em;
    position: relative;
    top: -0.05em;
  }
  &character:before {
    content: "\e60f";
  }
  &location:before {
    content: "\e60e";
  }
  &attachment:before {
    content: "\e60d";
  }
  &event:before {
    content: "\e610";
  }
  &plot:before {
    content: "\e60c";
  }
  &agenda:before {
    content: "\e611";
  }
}

.baratheon{
  border-color: #E3D852 !important;
}
.greyjoy {
  border-color: #1D7A99 !important;
}
.lannister {
  border-color: #C00106 !important;
}
.martell {
  border-color: #E89521 !important;
}
.thenightswatch {
  border-color: #7A7A7A !important;
}
.stark {
  border-color: #CFCFCF !important;
}
.targaryen {
  border-color: #1C1C1C !important;
}
.tyrell {
  border-color: #509F16 !important;
}
.neutral{
  border-color: #A99560 !important;
}

.character, .location, .attachment, .event {
  .gold-box {
    position: relative;
    top: -7.5px;
    left: -7.5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    font-size: 26px;
  }
  
  .type-box {
    position: relative;
    top: -5px;
    left: 2px;
  }
  
  .watermark-box {
    padding-top: 40px;
  }

  .name-box {
    height: 35px;
    background-color: white;
  }

  .faction-box {
    background-color: white;
    border: 2px solid black;
  }
}

.name-box {
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 5px 0px 5px;
}

.faction-box {
  height: 35px;
  width: 35px;
  font-size: 22px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.type-box {
  font-size: 8px;
}
  
.loyal-box {
  width: 35px;
  height: 15px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box {
  line-height: 1.2;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-family: 'Crimson Text', serif;
  font-size: 12px;
  display: flex;
  flex-flow: column nowrap;
}
  
.watermark-box {
  width: 100%;
  flex-grow: 1;
  display: flex;
  color: #EAEAEA;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  flex-flow: column nowrap;

  .middle {
    font-size: 36px;
    line-height: 36px;
  }
}

.traits-box {
  width: 100%;
  height: 20px;
  font-size: 12px;
  text-align: center;
}

.ability-box {
  width: 100%;

  .card-ability {
    br {
      display: block;
      content: "";
      margin-top: 0.5em;
    }

    ul {
      margin-block-start: 0.25em;
      margin-block-end: 0.25em;
      padding-inline-start: 2em;
      
      li {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
      }
    }

    i {
      font-weight: 700;
      font-style: italic;
    }
  }

  .card-designer {
    font-size: 11px;
    font-weight: 700;
    padding-top: 0.5em;
  }
}