<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <% if (css) { %>
    <style>
      <%- css %>
    </style>
    <% } else { %>
      <link rel="stylesheet" href="/css/Render.css">
    <% } %>
    <% if (js) { %>
    <script>
      <%- js %>
    </script>
    <% } else { %>
      <script src="/js/Render.js"></script>
    <% } %>
  </head>
  <body>
    <%- include(`Partials/${options.type}`, options) %>
  </body>
</html>