<% var pageNo = 1;
var page;
var completed = 0;
var all = cards.flatMap(i => Array.from({ length: copies }).fill(i));

do {
	page = all.slice((pageNo - 1) * perPage, pageNo * perPage); %>
<div class="page">
    <div class="sheet">
    <% for (var slot = 0; slot < perPage; slot++) { 
        var card = page[slot];%>
        <div class="card-slot">
            <% if (page[slot] !== undefined) { %>
                <%- include(`../cardTypes/${page[slot].renderFile}`, { card: page[slot] }) %>
            <% } %>
        </div>
    <% } %>
    </div>
</div>
<% pageNo++;
completed += page.length;
} while(completed < all.length); %>