<% if (card.code) { %>
<div class="watermark-box">
    <span class="top"><%= card.project.short %>#<%= card.code %></span>
    <span class="middle">v<%= card.version %></span>
    <span class="bottom">Work in Progress</span>
</div>
<% } else { %>
    <div class="watermark-box">
        <span class="top">Custom</span>
        <span class="middle">Card</span>
        <span class="bottom">Concept</span>
    </div>
<% } %>